---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Tony Bengué blog - 404 page";
---

<Layout title={pageTitle}>
	<main class="">
		<h1 class="text-white">About</h1>
	</main>
</Layout>
